@media (max-width:915px) {
  h1{
    font-size: 30px;
   }
}

body{
  margin : 0;
}
a{
  color : black;
  font-weight : bold;
}

h1{
  background-image : url(h1.jpg);
  background-size: auto;
  border-bottom:1px solid black;
  padding: 40px;
  font-size : 40px; /* */
  text-align: center; /* 텍스트 위치 */
  margin: 0;
  }
#div1 a{
  text-decoration: none;
}
#div1{
  border-right: 1px solid black;
  margin: 0;
  padding: 10px;
}
#div1 ol{
  margin : 0;
}
#div2{
  padding : 20px;
}
#grid1{
  display: grid;
  grid-template-columns: 200px 1fr;

}
#now{
  color : red;
}
